<!DOCTYPE html>
<html>
	<head>
		<title>
			dashbord
		</title>
		<meta charset='utf-8' />

        			
		{{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> --}}

        <link href='css/normalize.css' rel='stylesheet' />

		<link href='css/dash.css' rel='stylesheet' />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {{!-- <meta name="viewpoint" content="width=device-width, initial-scale=1" />   --}}
    </head>

	<body>
        {{>nav}}
        <div class="page page-dashbord">

            <aside class="aside page-aside vertical"> 
                <div class="aside-logo"> Sidebar </div>
                <nav class="vertical vertical-small">

                    <a href="#" class="nav-button nav-button-active click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/dash-nav/home.svg)"></span>
                    <span class="text text-light">Home</span>
                    </a>

                      <a href="#" class="nav-button click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/dash-nav/grid.svg)"></span>
                    <span class="text text-light">Orders</span>
                    </a>

                      <a href="#" class="nav-button click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/dash-nav/table.svg)"></span>
                    <span class="text text-light">Products</span>
                    </a>

                </nav>
            </aside> 

            
            <header class="header">
                 <div class="layout header-content text-small">
                    <div class="header-search">
                    <input type="text" class="field field-header" placeholder="Search">
                    <span class="icon header--icon-search" style="background-image: url('/svg/header/search.svg')"> </span>
                    <span class="icon header--icon-settings icon--button icon--color-blue click" style="background-image: url('/svg/header/settings.svg')"> </span>
                    </div>
                </div>

                <div class="assets">
                    <span class="icon header--icon-asset" style="background-image: url('/svg/header/antenna.svg')"> </span>
                    <span class="icon header--icon-asset" style="background-image: url('/svg/header/translate.svg')"> </span>
                    <span class="icon header--icon-asset" style="background-image: url('/svg/header/bell.svg')"> </span>
                </div>

            </header>



            <main class="main layout">
                <div class="layout">
                    <section class="box">
                            test                            
                    </section>                    
                </div>
            </main>
        </div>		
	</body>
</html>
