<!DOCTYPE html>
<html>
	<head>
		<title>
			dashbord
		</title>
		<meta charset='utf-8' />

        			
		{{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> --}}

        <link href='css/normalize.css' rel='stylesheet' />

		<link href='css/dash.css' rel='stylesheet' />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {{!-- <meta name="viewpoint" content="width=device-width, initial-scale=1" />   --}}
    </head>

	<body>
        {{>nav}}
        <div class="page page-dashbord">

            <aside class="aside page-aside vertical"> 
                <div class="text aside-logo"> Sidebar </div>
                <nav class="vertical vertical-small">

                    <a href="#" class="nav-button nav-button-active click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/dash-nav/home.svg)"></span>
                    <span class="text text-light">Home</span>
                    </a>

                      <a href="#" class="nav-button click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/dash-nav/grid.svg)"></span>
                    <span class="text text-light">Orders</span>
                    </a>

                      <a href="#" class="nav-button click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/dash-nav/table.svg)"></span>
                    <span class="text text-light">Products</span>
                    </a>

                     <div class="fild__block click">
                        <div class="field field--select">                   
                            <span class="text text-light"> Choose... </span>
                           <span class="icon icon-select text-light" style="background-image: url('/svg/arrow-select.svg')"> </span>                    
                            
                            <select class="field__select">
                                <option value="cat">Cat</option>
                                <option value="dog">Dog</option>
                                <option value="hamster">Hamster</option>
                                <option value="parrot">Parrot</option>
                                <option value="spider">Spider</option>
                            </select>
                        </div>
                    </div>

                </nav>
            </aside> 

            
            <header class="header">
                 <div class="layout header-content text-small">
                    <div class="header-search">
                    <input type="text" class="text field field-header" placeholder="Search">
                    <span class="icon header--icon-search" style="background-image: url('/svg/header/search.svg')"> </span>
                    <span class="icon header--icon-settings icon--button icon--color-blue click" style="background-image: url('/svg/header/settings.svg')"> </span>
                    </div>
                </div>

                <div class="assets">
                    <span class="icon header--icon-asset" style="background-image: url('/svg/header/antenna.svg')"> </span>
                    <span class="icon header--icon-asset" style="background-image: url('/svg/header/translate.svg')"> </span>
                    <span class="icon header--icon-asset" style="background-image: url('/svg/header/bell.svg')"> </span>
                </div>

            </header>



            <main class="main">               
                <div class="layout">
                    <section class="box analytic__block">

                           <div class="analytic analytic--double analytic--viol">
                                   
                                <span class="icon analytic__button  click" style="background-image: url('/svg/card-icon/ph_money.svg')"> </span>
                                <div class="analytic__content vertical__small">
                                    <div class="analytic__title">

                                        test
                                    </div>
                                </div>
                           </div>                            
                    
                           <div class="analytic analytic--double analytic--blue">
                            test
                                <span class="icon analytic__button icon--color-blue click" style="background-image: url('/svg/card-icon/shopping-bag.svg')"> </span>
                           </div>                            
                   
                           <div class="analytic ">
                            test
                                <span class="icon analytic__button icon--color-blue click" style="background-image: url('/svg/card-icon/ph_money.svg')"> </span>
                           </div>                            
                    
                           <div class="analytic">
                            test
                                <span class="icon analytic__button icon--color-blue click" style="background-image: url('/svg/card-icon/iconoir_shop.svg')"> </span>
                           </div>                            
                    </section>                    
                </div>
            </main>
        </div>		
	</body>
</html>
