<!DOCTYPE html>
<html>
	<head>
		<title>
			slack
		</title>
		<meta charset='utf-8' />

        			
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {{!-- <meta name="viewpoint" content="width=device-width, initial-scale=1" />   --}}
    </head>
	<body>
        {{>nav}}
        <div class="page">
            <section class="page-section">
                <div class="page-cont hero-section">
                   
                        <div class="hero">
                            <div class="hero-cont">
                                <span class="hero-label">Slack Features</span>
                                <h1 class="hero-title">One platform for your team and your work</h1>
                                <p class="hero-info double-line">All the features of Slack work together so you can, too.</p>
                                <div class="hero-buttons">
                                    <a href="a" class="button button-prim click">Try for free</a> 
                                    <a href="a" class="button button-second click">See all features</a>
                                </div>                 
                                                    
                                <img class="hero-img" src="/img/hero-full-ui.jpg.png" alt="picture"> 
                            </div>
                        </div>
                 
                        <div class="brands">
                            <img src="/img/airbnb.png" alt="airbnb" class="brand-img">
                            <img src="/img/target.png" alt="target" class="brand-img">
                            <img src="/img/uber.png" alt="uber" class="brand-img">
                            <img src="/img/onemedical.png" alt="onemedical" class="brand-img">
                            <img src="/img/newscorp.png" alt="newscorp" class="brand-img">
                            <img src="/img/VA.png" alt="VA" class="brand-img">
                            <img src="/img/intuit.png" alt="intuit" class="brand-img">
                            <img src="/img/sonos.png" alt="sonos" class="brand-img">
                        </div>
                </div>
            </section>

            <section class="page-section page-section-light">
               
                <div class="page-cont features-section">
                {{!-- <div class="block"> --}}
                    {{!-- <div> --}}
                    <h2 class="title-section">Work more easily with everyone</h2>
                    <p class="text-section double-line">Stay on the same page and make decisions faster by bringing all of your work communication into one place. </p>
                {{!-- </div>
                <img src="/img/work-puzle.png" alt=""> --}}
                {{!-- </div> --}}
                    <div class="featers-grid-4"> 
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/slack-conect.svg')"></span>
                        <strong>Slack Connect</strong>
                        <p class="feature-card-descr double-line">Collaborate with teams at other companies the same way you do with teams at your own.</p>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                     <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/channels.svg')"></span>
                        <strong>Channels</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/huddles.svg')"></span>
                        <strong>Huddles</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/clips.svg')"></span>
                        <strong>Clips</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/canvas.svg')"></span>
                        <strong>Canvas</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/messaging.svg')"></span>
                        <strong>Messaging</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/accessibility.svg')"></span>
                        <strong>Accessibility</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>
                    </div>                    
                </div>  
            </section>     
        </div>		
	</body>
</html>
