<!DOCTYPE html>
<html>
	<head>
		<title>
			slack
		</title>
		<meta charset='utf-8' />

        			
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {{!-- <meta name="viewpoint" content="width=device-width, initial-scale=1" />   --}}
    </head>
	<body>
        {{>nav}}
        <div class="page">
            <section class="page-section">
                <div class="page-cont hero-section">
                   
                        <div class="hero">
                            <div class="hero-cont">
                                <span class="hero-label">Slack Features</span>
                                <h1 class="hero-title">One platform for your team and your work</h1>
                                <p class="hero-info double-line">All the features of Slack work together so you can, too.</p>
                                <div class="hero-buttons">
                                    <a href="a" class="button button-prim click">Try for free</a> 
                                    <a href="a" class="button button-second click">See all features</a>
                                </div>                 
                                                    
                                <img class="hero-img" src="/img/hero-full-ui.jpg.png" alt="picture"> 
                            </div>
                        </div>
                 
                        <div class="brands">
                            <img src="/img/airbnb.png" alt="airbnb" class="brand-img">
                            <img src="/img/target.png" alt="target" class="brand-img">
                            <img src="/img/uber.png" alt="uber" class="brand-img">
                            <img src="/img/onemedical.png" alt="onemedical" class="brand-img">
                            <img src="/img/newscorp.png" alt="newscorp" class="brand-img">
                            <img src="/img/VA.png" alt="VA" class="brand-img">
                            <img src="/img/intuit.png" alt="intuit" class="brand-img">
                            <img src="/img/sonos.png" alt="sonos" class="brand-img">
                        </div>
                </div>
            </section>

            <section class="page-section page-section-light">
               
                <div class="page-cont features-section">
                    
                    <div class="page-block">
                        <div>
                            <h2 class="title-section">Work more easily with everyone</h2>
                            <p class="text-section double-line">Stay on the same page and make decisions faster by bringing all of your work communication into one place. </p>
                        </div>
                        <img src="/img/work-puzle.png" alt="#">
                    </div>
                    
                    <div class="featers-grid-4"> 
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/slack-conect.svg')"></span>
                            <strong>Slack Connect</strong>
                            <p class="feature-card-descr double-line">Collaborate with teams at other companies the same way you do with teams at your own.</p>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>

                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/channels.svg')"></span>
                            <strong>Channels</strong>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>

                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/huddles.svg')"></span>
                            <strong>Huddles</strong>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>

                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/clips.svg')"></span>
                            <strong>Clips</strong>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/canvas.svg')"></span>
                        <strong>Canvas</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/messaging.svg')"></span>
                        <strong>Messaging</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>

                      <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/accessibility.svg')"></span>
                        <strong>Accessibility</strong>
                        <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                    </div>
                    </div>                    
                </div>  
         

                <div class="need-page page-cont ">
                   

                    <div class="need-block">
                        <img src="/img/img-need.png" alt="#">
                        <div class="need-hero page-cont features-section">
                            <h3 class="need-title">What you need, when you need it</h3>
                            <p class="need-text">Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
                        </div>
                    </div>
                    

                    <div class="featers-grid-3"> 
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/icon-plus.svg')"></span>
                            <strong>Apps and Integrations</strong>
                            <p class="feature-card-descr double-line">Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>

                         <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/icon-lightening.svg')"></span>
                            <strong>Workflow Builder</strong>
                            <p class="feature-card-descr double-line">Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>

                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/icon-search.svg')"></span>
                            <strong>Search</strong>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>

                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/icon-share.svg')"></span>
                            <strong>File sharing</strong>
                            <a href="#" class="icon icon-arrow click feat-link" style="background-image: url('/svg/arrow.svg')"></a>
                        </div>                       
                   </div> 
                </div> 

            </section>

            <section class="quote-section">

                <div class="quote-page">
                    
                    <img src="/img/img-deliveroo.png" alt="#">

                    <div class="qoute-cont">
                        <p class="qoute">“The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward method of communication, and really the only channel that people prefer and enjoy using.” </p>
                        <img src="/img/logo-deliveroo.png" alt="#">
                        <p class="qoute-author">Will Sprunt, CIO, Deliveroo</p>
                    </div>

                </div>
            </section>

            <section class="explore-section">
                <h2 class="explore-title">Explore more about working in Slack</h2>

                <div class="explore-cards">
                    <div class="explore-card">
                        <img src="/img/slack-101.png" alt="#">
                        <p class="subtitle">Slack Tutorials</p>
                        <h3 class="card-title">Slack 101</h3>
                        
                        <div class="learn-arrow">
                            <strong class="more">Learn more</strong>
                            <a href="#" class="icon click feat-link icon-arrow-color" style="background-image: url('/svg/arrow-color.svg')"></a>
                        </div>
                    </div>

                    <div class="explore-card">
                        <img src="/img/slack-vs-email.png" alt="#">
                        <p class="subtitle">Slack Tutorials</p>
                        <h3 class="card-title">An easier, more organized way to work</h3>
                        
                        <div class="learn-arrow">
                            <strong class="more">Learn more</strong>
                            <a href="#" class="icon click feat-link icon-arrow-color" style="background-image: url('/svg/arrow-color.svg')"></a>
                        </div>
                    </div>

                    <div class="explore-card">
                        <img src="/img/slack-customers.png" alt="#">
                        <p class="subtitle">Slack Tutorials</p>
                        <h3 class="card-title">How Fastly uses Slack Connect to wow enterprise customers</h3>
                        
                        <div class="learn-arrow">
                            <strong class="more">Learn more</strong>
                            <a href="#" class="icon click feat-icon feat-link icon-arrow-color" style="background-image: url('/svg/arrow-color.svg')"></a>
                        </div>
                    </div>


                </div>
            </section>

            

        </div>		
	</body>
</html>
