/* скидання браузерних стилів */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

image {
  display: block;
}
/* ---------------- */

body {
  margin: 0;
  background-color: #e5e5e5;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: white;
  width: 1920px;
  height: 1080px;
}

section {
  margin-inline: 480px;
}

/* ----------header----------- */

.header {
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  height: 74px;
  background: #ffffff;
  border-bottom: 1px solid #dee2e6;
}
.logo {
  color: white;
  text-decoration: none;
  width: 24px;
  height: 24px;
}

.txt-logo {
  border: #563d7c;
  border-radius: 20%;
  background: #563d7c;
  padding: 3px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

.nav-page {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-page-txt {
  margin: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #343a40;
}

/* -----hero---- */

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-hero {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
  align-items: center;
  text-align: center;
  color: #212529;
  justify-content: center;
  margin: 0 392px 12px 392px;
}
.txt-hero {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212529;
  margin-inline: 188px;
}

/* ------cards------- */

.main-card {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 960px;
}
.card-one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.card-name {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 302px;
  height: 53px;
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px 3px 0px 0px;
}

.card-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 69px;
  gap: 6px;
  margin: 24px;
  width: 254px;
  height: 47px;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212529;
}

.month {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c757d;
}
.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 55px;
  gap: 12px;
  margin: 0 24px 24px 24px;
  width: 254px;
  height: 111px;
}
.item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #212529;
}
.card-butn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 40px;
  padding: 9px;
  background: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin: 24px 24px;
}

.text-butn {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* ----------footer------------ */

.footer-card {
  display: flex;
  flex-direction: row;
}

.footer-items {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px;
  gap: 10px;
  width: 960px;
  height: 188px;
  border-top: 1px solid #dee2e6;
}

.footer-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #212529;
}

.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6c757d;
  text-decoration: none;
}

/* -----------------template-2---------- */

.page-two {

align-items: center;

flex-shrink: 0;
background: #FFF;
}

/* ----- hero --------- */


.hero-box {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

/* width: 1000px;
height: 348px; */

background: #343A40;
border-radius: 24px;
padding: 64px;
}

.hero-name {
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 66px;

display: flex;
align-items: center;

color: #FFFFFF;
}

.hero-descr {
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
display: flex;
align-items: center;

color: #FFFFFF;
}

.hero-link {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 76.47px 9px 76.53px;

background: #007BFF;
border: 1px solid #007BFF;
border-radius: 4.8px;

}
.hero-link-btn {
  font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.preview-cards { 
  
 margin: 80px 0 80px 0;
 display: flex;
flex-direction: row;
justify-content: space-between;
/* width: 440px;
height: 154px; */

}

.preview-card-self {
  display: flex;
flex-direction: column;
justify-content: center;

  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border: 1px solid #DEE2E6;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  
}

/* .prew-header {

} */
.badge-data {  
  color: #6C757D;
margin-right: 12px;
font-size: 16px;
line-height: 24px;
}

.prew-header:first-child {
  color: #007BFF;

font-size: 16px;
font-weight: 700;
line-height: 24px;
}

.prew-name {
  color: #343A40;
  font-size: 28px;
    font-weight: 500;
  line-height: 33.6px;
}

.prew-descr {
  color: #212529;
font-size: 16px;
line-height: 24px;
display: flex;
flex-direction: column;
justify-content: center;
align-self: stretch;
}

/* ---------Category------------ */


.category {
  display: flex;
/* width: 1000px; */

justify-content: space-between;
align-items: flex-start;
/* align-content: center; */
border-bottom: 1px solid #DEE2E6;
margin-bottom: 40px;

}


.category-btn {

padding: 7px 12px 7px 13px;
align-items: flex-start;
border-radius: 32px;
border: 1px solid #6C757D;
opacity: 0.65;
margin-bottom: 12px;
/* margin: 6px; */
}

.text-btn {
  color: #6C757D;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 24px;
 
}

.category-btns {
  gap: 12px;
}


.second-title {
  /* display: flex; */
width: 236px;
height: 37px;

justify-content: center;
flex-shrink: 0;
color: #212529;
font-size: 32px;

font-weight: 500;
line-height: 34px;
}

/* ---------news------------- */
.news {
  display: flex;
flex-direction: column;
align-items: flex-start;


}
.new {
  display: flex;
width: 620px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
margin-bottom: 40px;

}

.news-title {
color: #212529;
font-size: 27px;

font-weight: 500;
line-height: 100%;
}

.news-date {

width: 176px;
height: 17px;
justify-content: center;
color: #999;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.news-author {
  color: #0050FF
}

.news-descr {
  color: #212529;
font-size: 15px;
font-weight: 400;
line-height: 24px;
display: flex;
flex-direction: column;
justify-content: center;
align-self: stretch;
}
.news>a {
  color: #007BFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;  
}

/* -------------about----------- */

.about {
  display: flex;
width: 300px;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
background: #F8F9FA;
}

.about-title {
  color: #212529;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.about-txt {
  display: flex;
flex-direction: column;
justify-content: center;
align-self: stretch;
  color: #212529;
font-size: 14px;
font-weight: 400;
line-height: 150%;
}

.archives {
  display: flex;
  width: 300px;
  padding: 14px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.archives-title {
  display: flex;
width: 96.08px;
height: 32px;
flex-direction: column;
justify-content: center;
  color: #212529;
font-size: 24px;
font-weight: 500;
line-height: normal;
}
.archive-month {

  text-decoration: none;
  color: #007BFF;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}


.social {
  display: flex;
  width: 300px;
  padding: 14px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.social-title {
  display: flex;
width: 96px;
height: 32px;
flex-direction: column;
justify-content: center;
  color: #212529;

font-size: 24px;

font-weight: 500;
line-height: normal;
}

.social-text {
display: flex;
width: 104.26px;
height: 17px;
flex-direction: column;
justify-content: center;
color: #007BFF;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
}

.social-texts {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

