/* 1 -------------------- */
.lesson-four-task-one>.btn:hover {
    color: red;
    background: yellow;
}

/* 2------------------------- */


a:hover + h1 {
    background: green
}

/* 3-------------------- */
 
#lesson-four-task-three>a:visited {
    color: yellow;
}
/* 4 --------------- */
#sidebar > a {
color: red;
}

/* 5---------------------- */
.lesson-four-task-five>.btn:active {
   background: blue;
}
/* 6--------------------- */
.lesson-four-task-six>.btn:focus {
    color: orange;
    background: orange;
}
/* 7----------------------- */

.lesson-four-task-seven>#target:target {
    color: white;
    background: green;
}

/* 8----------------- */
#checkbox:checked + #target {
    color: white;
    background: blue;
}

/* 9---------------------------- */
p:lang(uk) {
    color: blue;
}

/* 10----------------------- */
.lesson-four-task-ten input:enabled {
    color: red;
    background: yellow;
}

/* 11----------------------- */
.lesson-four-task-eleven input:disabled {
     background: yellow;
}

/* 12------------------------------ */
.lesson-four-task-twelve input:read-write {
    background: yellow;
}

/* 13--------------------- */
.lesson-four-task-thirteen input:read-only {
    background: yellow;
}

/* 14------------------------ */
.lesson-four-task-fourteen>input:valid {
    background: green;
}
.lesson-four-task-fourteen>input:valid {
    background: red;
}
/* 15--------------------------- */
.lesson-four-task-fifteen>form>textarea:optional {
    background: red;
}

/* 16--------------------- */
.lesson-four-task-sixteen>form>.bg-secondary:out-of-range {
    color: green;
}

/* 17---------------------- */
.lesson-four-task-seventeen>form>.bg-secondary:in-range {
    color: red;
}
/* 18------------------------ */
.lesson-four-task-eighteen>input:placeholder-shown {
background: red;
} 
/* 19-------------- */
.btn-group>button:focus-within {
    color: white;
    background: yellow;
}
/* 20--------------- */
.lesson-four-task-twenty>form>label>input:invalid {
    background: red;
}