@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('/font/Helvetica\ Neue\ 97\ Black\ Condensed.otf');
}

body {
    font-family: 'HelveticaNeueBold', sans-serif;
    font-size: var(--font-sm);
    font-style: normal;
    font-stretch: condensed;
   
    background-color: var(--color-wh);
}

:root {
    --color-wh: white;
    /* --color-gr: #9CA3AF;  
    --color-gr-d: #111827;
    --color-vi: #885FFB; */
  
    --font-sm: 14px;
    --font-md: 16px;
    --font-xmd: 18px;
    --font-xbg: 24px;
    --font-lg: 36px;
  
    --font-n: 400; 
    --font-bg: 600;
  
    --radius-sm: 4px;
    --radius-md: 10px;
    --radius-bg: 24px;

    --page-width-bg: 1260px;
    --page-width-md: 1000px;
    --page-width-sm: 720px;

}

/* ---------------------------------- */
.page {
    display: grid;
}

.page-section {
 display: flex;
 justify-content: center;

}

.page-cont {
    width: 100%;
    padding: 16px;
    display: grid;
}

@media all and (1260px <= width )
{.page-cont {
    width: 100%;
    max-width: var(--page-width-bg);
}}

@media all and (1000px <= width < 1260px)
{.page-cont {
    width: 100%;
    max-width: var(--page-width-md);
}}

@media all and (1000px> width )
{.page-cont {
    width: 100%;
    max-width: var(--page-width-sm);
    gap: 36px;
}}

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
    position: relative;
    height: 40vh;
    min-height: 400px;  
}

.hero {
   display: grid;
   gap: 20px;
   max-width: 452px;
   height: 100%;
   align-content: center;
   margin-right: 40px;
  
}
.brands {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.hero-label {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%; 
    text-transform: uppercase;
}

.hero-title {
    color: #000;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.2px;
}

.hero-info {
    color: #000;   
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.2px;
}

/* .hero-buttons {

} */

.hero-img {    
    display: flex;
    min-height: 320px;   
}