<div class="article">
{{#each articles}} 
<div class="article-crd" id="id">
 <div>
<img src="{{photo}}" alt="photo" class="article-photo">
   {{#if isNew}}
    <p class="new-article">NEW</p>
    {{/if}}
</div>
<h4 class="article-name">{{name}} </h4>
<p class="article-descr">{{description}} </p>
<button class="article-btn">Read All</button>
</div>
{{/each}}
</div>