<nav>
  {{>link text="start" href="/" line=true }}
 {{>link text="page-css1" href="/template-1" line=true}}
 {{>link text="page-css2" href="/template-2" line=true}}
 {{>link text="page-css3" href="/template-3" line=true}}
 {{>link text="page-css4" href="/template-4" line=true}}
 {{>link text="page-css5" href="/template-5" line=true}}
 {{>link text="page-css6" href="/template-6" line=true}}
 {{>link text="page-css7" href="/template-7" line=true}}
 {{>link text="slack" href="/slack" line=true}}
 {{>link text="dash" href="/dashbord" line=false}}
</nav>
</nav>